#placeholders1,#placeholders2,#placeholders3,#placeholders4,
#placeholders5{
	position: relative;
}
.port-image{
	   
    width: 280px;
    height: 185px;
    float: left;
    margin-right: 41px;
    margin-left: 4px;
    margin-top: 19px;
    margin-bottom: 11px;
}
#port-p{
	color:  #4aaaa5;
	font-size: 25px;
	font-weight: bold;
	border-bottom: 2px solid #cccccc;
	padding-bottom: 10px;

}
.imgs{
	position: absolute;
    width: 280px;
    height: 50px;
    bottom: 10px;
    color: white;
    background-color: #4aaaa5;
    clear: both;
    float: left;
    text-align: center;
    line-height: 45px;
}
.img1{
	
    left: 4px;
    top: 141px;
    


}
.img2{
	right: 41px;
    top: 141px;
}
.img3{
	left: 4px;
    top: 353px;
}
.img4{
	right: 41px;
	top: 353px;
}
}
.img5{
	top: 573px;
    left: 4px;
}



/*
for mobile phone
*/
@media only screen and (max-width: 640px) {

    
    .port-image{
       
        width: 150px;
        margin-right: 20px;
        margin-left: 3px;
        margin-top: 10px;
        margin-bottom: 7px;
    }
    .imgs{
        width: 150px;
    }
    .img1 {
        left: 3px;
        top: 138px;
    }
    .img2 {
        right: 64px;
        top: 138px;
    }
    .img3 {
        left: 3px;
        top: 294px;
    }
    .img4 {
        left: 3px;
        top: 340px;
    }
    .img5 {
        left: 4px;
        top: 569px;
    }
}
/*
for tablets
*/
@media only screen and (max-width: 768px){

}

/*
for desktop
*/
@media only screen and (max-width:1024px){
    .port-image{
       
        width: 280px;
        margin-right: 20px;
        margin-left: 3px;
        margin-top: 10px;
        margin-bottom: 7px;
    }
    .imgs{
        width: 280px;
    }
    .img1{
    
        left: 4px;
        top: 141px;
    }
    .img2{
        right: 64px;
        top: 139px;
    }
    .img3{
        left: 11px;
        top: 291px;
    }
    .img4{
        right: 41px;
        top: 353px;
    }
    }
    .img5{
        top: 573px;
        left: 4px;
    }


}