#main-bio{

}
#contacth1{

}
textarea{
	width: 610px;
	padding: 12px 20px;
	margin: 8px 0;
	height: 150px;

}
input[type=text]{
	width: 610px;
	padding: 12px 20px;
	margin: 8px 0;

}
input[type=submit]{
	width: 93px;
	background-color: #4aaaa5 ;
	color: white;
	cursor: pointer;
	margin: 8px 0;
	border: none;
	height: 43px;

}
#contacth1{
	color: #4aaaa5;
	font-size: 25px;
	font-weight: bold;
	border-bottom: 2px solid #cccccc;
	padding-bottom: 10px;
}