body {
  margin: auto;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #777;
}
h1,h2,h3{
	font-family: 'Georgia',Times, Times New Roman,sans-serif;
}
#navcon a {
	text-decoration: none;
	color: rgba(102, 102, 102, 0.68);
}
#pname{
	margin-top: 0px;
    margin-bottom: 0px;
    height: 50px;
    padding-top: -5px;
    clear: both;
    display: inline-block;
    float: left;
    padding-left: 21px;
    padding-right: 21px;
    line-height: 44px;
    margin-left: 96px;
}
.foo{
	background-color: #666666;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    clear: both;
    margin-bottom: 0;
    border-top-style: solid;
    border-top-width: 7px;
    border-top-color: #4aaaa5;
    height: 25px;
}
.head{
	font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid #cccccc;
    padding-bottom: 10px;
    padding-top: 15px;
}
#navcon li{
	position: relative;
	display: inline-block;
	float: left;
	padding: auto;
	margin-bottom: 0px;
	list-style-type: none;
}
#navcon li:not(:first-child) {
	border-left: solid 1px rgba(102, 102, 102, 0.68);
}
h1{
	
	background-color:#4aaaa5 ;
	color: #ffffff;
	height: 30px;
	font-size: 30px;
	
}
header{
	width: 1200px;
	height: 50px;
	margin:0;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	border-color: #dddddd;
}
#container{
	
	background-image: url("./images/vintage-concrete/vintage-concrete/vintage-concrete.png");
	background-repeat: repeat;
	height: auto;
	overflow: auto;
}
#main-bio{
	width: 650px;
	float: left;
	background-color: #ffffff;
	margin-left: 210px;
	margin-right: 30px;
	height: auto;
	margin-top: 30px;
	padding-left: 25px;
	padding-right: 25px;
	margin-bottom: 7px;

}
#contact-info{
	width: 270px;
	float: left;
	padding: 0;
	background-color: #ffffff;
	border-color: #dddddd;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	padding-left: 25px;
	padding-right: 25px;

}
#contact-info ul{

	margin-left: 15px;
	margin-right: 15px;
	padding: 0;
}
#contact-info li{
	list-style-type: none;
	float: left;
	display: block; 
	margin-left: 7px;
	margin-right: 7px;
	display: block;
	cursor: pointer;
	margin: 7px;

}
#bio-image{
	width: 200px;
	height: 200px;
	float: left;
	clear: both;
	margin-right: 10px;
	transform: rotate(90deg);

}
.aboutp{
	margin-left: 5px;
    line-height: 24px;
    text-align: justify;
    margin-top: -20px;
}
footer{
	    background-color: #666666;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    clear: both;
    margin-bottom: 0;
    border-top-style: solid;
    border-top-width: 7px;
    border-top-color: #4aaaa5;
    height: 25px;
}
h2,h3{
	text-align: left;
    border-bottom: 2px solid #cccccc;
    padding-bottom: 10px;
    color: #4aaaa5;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}
#small{
	width: 25px;
	height: 25px;
}
header ul{
	margin: 0;
	padding: 0;

}
header li{
	list-style-type: none;
	float: left;
	display: block; 
	width: 150px;
	height: 50px;
	text-align: center;
	line-height: 27px;
	float: right;
}
header ul li:first-child{
	float: left;
	margin-left: 110px;


}
.clearing{
	clear: both;
}
textarea{
	width: 610px;
	padding: 12px 20px;
	margin: 8px 0;
	height: 150px;

}
input[type=text]{
	width: 610px;
	padding: 12px 20px;
	margin: 8px 0;

}
input[type=submit]{
	width: 93px;
	background-color: #4aaaa5 ;
	color: white;
	cursor: pointer;
	margin: 8px 0;
	border: none;
	height: 43px;

}
#contacth1{
	color: #4aaaa5;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 2px solid #cccccc;
    padding-bottom: 10px;
    padding-top: 15px;
    margin-bottom: 10px;
}
#placeholders1,#placeholders2,#placeholders3,#placeholders4,
#placeholders5{
	position: relative;
}
.port-image{
	   
    width: 280px;
    height: 185px;
    float: left;
    margin-right: 41px;
    margin-left: 4px;
    margin-top: 19px;
    margin-bottom: 11px;
}
#port-p{
	color:  #4aaaa5;
	font-size: 25px;
	font-weight: bold;
	border-bottom: 2px solid #cccccc;
	padding-bottom: 10px;

}
.imgs{
	position: absolute;
    width: 280px;
    height: 50px;
    bottom: 10px;
    color: white;
    background-color: #4aaaa5;
    clear: both;
    float: left;
    text-align: center;
    line-height: 45px;
}
.img1{
	
    left: 4px;
    top: 141px;
}
.img2{
	right: 41px;
    top: 141px;
}
.img3{
	left: 4px;
    top: 353px;
}
.img4{
	right: 41px;
	top: 353px;
}
.img5{
	top: 573px;
    left: 4px;
}

/*
for desktop index.html
*/
@media only screen and (max-width: 980px) {
	#main-bio{

		        width: 51%;
	    margin-left: 33px;
	    margin-right: 20px;
	    margin-top: 20px;
	    padding-left: 20px;
	    padding-right: 20px;
	}

	#contact-info{
		width: 25%;
    /* margin-right: 25px; */
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 21px;
    margin-bottom: 20px;
    margin-left: 18px;
	}
	#bio-image{
		max-width: 100%;
	    min-width: 70%;
	    float: none;
	    display: block;
	    height: auto;
	    margin-top: 10%;
	    margin-bottom: 10%;
	    margin-left: 14%;
	}
	.small{
		width: 40px;
    	height: 40px;
	}
	#container{
	
		width: 100%;
	    margin-right: 10px;
	    margin-left: auto;
	    margin-right: auto;
	
	}
	header{
		width: 1024px;
		margin-left: auto;
		margin-right: auto;
	}
	footer{
		width: 100%;
	    margin-right: 0;
	    margin-left: auto;
	}
	 .port-image{
       
        min-width: 98%;
    margin-right: 20px;
    margin-left: 3px;
    margin-top: 10px;
    margin-bottom: 7px;
    height: 346px;
    }
    .imgs{
        width: 98%;
    }
    .img1 {
        left: 3px;
    top: 281px;
    }
    .img2 {
        left: 3px;
    top: 641px;
    }
    .img3 {
        left: 3px;
    top: 1007px;
    }
    .img4 {
        left: 3px;
    top: 1372px;
    }
    .img5 {
        left: 3px;
    top: 1742px;
    }
    textarea{
		width: 289px;
		padding: 6px 10px;
		margin: 4px 0;
		height: 150px;

	}
	input[type=text]{
		width: 289px;
	    padding: 10px 10px;
	    margin: 4px 0;

	}
	input[type=submit]{
		width: 90px;
		background-color: #4aaaa5 ;
		color: white;
		cursor: pointer;
		margin: 8px 0;
		border: none;
		height: 43px;

	}


}
/*
for tablets index.html and contact.html
*/
@media only screen and (max-width: 768px) {
    #main-bio{
        width: 90%;
    margin-left: 12px;;
    }
    #bio-image {
		    min-width: 150px;
	    min-height: 150px;
	    float: left;
	    display: inline;
	    margin-top: 2%;
	    margin-bottom: 5%;
	    margin-left: -4%;
	    margin-right: -2%;
	}
	#contact-info{
		 width: 90%;
    /* margin-right: 25px; */
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 21px;
    margin-left: 2%;
    margin-bottom: 3%;
	}
	textarea{
		width: 430px;
		padding: 6px 10px;
		margin: 4px 0;
		height: 150px;

	}
	input[type=text]{
		width: 430px;
		padding: 10px 10px;
		margin: 4px 0;

	}
	input[type=submit]{
		width: 70px;
		background-color: #4aaaa5 ;
		color: white;
		cursor: pointer;
		margin: 8px 0;
		border: none;
		height: 43px;

	}
	 .port-image{
       
            min-width: 134px;
    /* max-width: 150px; */
    width: 247px;
    height: 150px;
    float: left;
    margin-right: 31px;
    margin-left: 4px;
    margin-top: 19px;
    margin-bottom: 11px;
    }
    .imgs{
        width: 43%;
    }
    .img1{
    
        left: 3px;
    top: 112px;
    }
    .img2{
            left: 287px;
    top: 112px;
    }
    .img3{
           left: 4px;
    top: 289px;
    }
    .img4{
        left: 287px;
    top: 289px;
    }
    .img5{
       top: 467px;
    left: 4px;
    }

}

@media only screen and (max-width: 640px){
    
	#main-bio{
        width: 75%;
    	margin-left: 9%;
    }
    #bio-image {
		max-width: 100%;
    min-height: 70%;
    height: auto;
    float: none;
    display: block;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 23%;
    height: auto;
    margin-right: 18%;
	}
	#contact-info{
		 width: 75%;
    /* margin-right: 25px; */
	    padding-left: 16px;
	    padding-right: 27px;
	    margin-top: 21px;
	    margin-left: 9%;
	    margin-bottom: 3%;
	}
	#pname{
		margin-top: 0px;
	    margin-bottom: 0px;
	    height: 50px;
	    padding-top: -5px;
	    clear: both;
	    display: block;
	    float: none;
	    padding-left: 278px;
	    padding-right: 21px;
	    line-height: 44px;
	    margin-left: 56px;
	    width: 100%;
	    margin-left: 0px;
	}
	#navcon li{
		position: relative;
	    display: inline-block;
	    float: none;
	    margin-bottom: 0px;
	    list-style-type: none;
	    margin-top: 1px;
	    /* padding-top: 0px; */
	    line-height: -1px;
	    margin-left: 35px;
	}
	.port-image{
       
       width: 100%;
    margin-right: 20px;
    margin-left: 3px;
    margin-top: 10px;
    margin-bottom: 7px;
    height: 250px;
    }
    .imgs{
        width: 100%;
    }
    .img1 {
        left: 3px;
    top: 194px;
    }
    .img2 {
          left: 3px;
    top: 461px;
    }
    .img3 {
        left: 3px;
    top: 732px;
    }
    .img4 {
       left: 3px;
    top: 994px;
    }
    .img5 {
        left: 3px;
    top: 1262px;
    }
    textarea{
		width: 95%;
    padding: 6px 10px;
    margin: 4px 0;
    height: 150px;

	}
	input[type=text]{
		max-width: 95%;
    padding: 10px 10px;
    margin: 4px 0;

	}
	input[type=submit]{
		width: 70px;
		background-color: #4aaaa5 ;
		color: white;
		cursor: pointer;
		margin: 8px 0;
		border: none;
		height: 43px;

	}

}